Checks: '
        *,
        -llvm-header-guard,
        -fuchsia*,
        -llvmlibc*,
        -altera*,
		-google-runtime-references,
        -modernize-use-trailing-return-type,
        '
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
