Checks: '
        *,
        -fuchsia*,
        -modernize-use-trailing-return-type,
        -llvm-header-guard,
        -*non-private-member-variables*,
        -*uppercase-literal-suffix,
        -google-runtime-references,
        -modernize-use-default-member-init,
		-cppcoreguidelines-pro-bounds-array-to-pointer-decay
        '
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
